<div>
    <form novalidate [formGroup]="form">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" formControlName="email">
                @if (form.controls.email.invalid) {
                    <mat-error>A valid email address is required</mat-error>
                }
            </mat-form-field>

            @if(view==REGISTER_VIEW) {
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" formControlName="name">
                </mat-form-field>
            }
    
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" formControlName="password"
                    (keyup)="onComparePass(form.controls.confirmpassword)"
                    [attr.autocomplete]="(view==REGISTER_VIEW ? 'off': 'current-password')">
            </mat-form-field>
            @if(view==REGISTER_VIEW) {
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" name="confirmpassword" formControlName="confirmpassword" autocomplete="off"
                        (keyup)="onComparePass(form.controls.password)">
                </mat-form-field>
            }
        </div>
        <div>
            @if (view==LOGIN_VIEW) {
                <button id="loginBtn" type="button" mat-flat-button color="primary" (click)="onLogin()">Login</button>
                <button id="registerBtn" type="button" mat-flat-button (click)="onViewToggle(REGISTER_VIEW)">Register</button>
            }
            @else {
                <button id="submitBtn" type="button" mat-flat-button color="primary" (click)="onRegister()">Submit</button>
                <button id="cancelBtn" type="button" mat-flat-button (click)="onViewToggle()">Cancel</button>
            }
        </div>
    </form>
    <hr />
    <div>
        <button matButton>
            Sign in with Google
        </button>
    </div>
</div>